.overview_title {
  margin: 30px;
  font-size: 3.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.overview_body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number_of_regions_cell,
.year_range_cell {
  height: 100px;
  width: 250px;
  background-color: var(--lightOrange);
  margin: 10px;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
